<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} 
  {{> "systems/deadlandsc/templates/item/partials/header.html"}}
  <main class="sheet-body flexrow">
    <div class="flexrow tab active" data-group="primary" data-tab="summary">
      <section class="item-stats">
        <header class="header-field">
          <span>{{localize "DEADLANDSC.Détails"}}</span>
        </header>
        <div class="form-group">
          <label for="system.prix">{{localize "DEADLANDSC.Prix"}}</label>
          <span class="form-fields">
            <input
              name="system.prix"
              type="text"
              value="{{item.system.prix}}"
              placeholder="{{localize 'DEADLANDSC.Prix'}}"
              data-dtype="Number"
          /></span>
        </div>
        <div class="form-group">
          <label for="system.quantité">{{localize "DEADLANDSC.Quantité"}}</label>
          <span class="form-fields">
            <input
              name="system.quantité"
              type="text"
              value="{{item.system.quantité}}"
              placeholder="{{localize 'DEADLANDSC.Quantité'}}"
              data-dtype="Number"
          /></span>
        </div>
      </section>
      <section class="sheet-body">
    </div>
  </main>

</form>

